/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

/************ ROOT ****************** */
:root {
    --primary-color: #5B919F;
    --secondary-color: #FFF;
    --button-color: #FFF689;


}

/************ GLOBAL *************** */
h1,
h2 {
    font-family: 'Hind', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 3.8rem;
}

h2,
h3 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 2rem;
    padding-top: 1rem;

}

p,
a {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.active {
    font-weight: 600;
}


p,
ul,
li {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}

/************ Barre de navigation *************** */

nav {
    display: flex;
    justify-content: space-between;
    margin: 22px 120px;
}

nav a {
    color: var(--primary-color);
    padding-right: 1.125rem;
}

/************** HEADER *************************** */

header {
    background-image: url(BG_header.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 960px;
}

.header__text {
    padding-top: 280px;
    padding-left: 180px;
    color: var(--secondary-color);
}

.header__text h1 {
    text-transform: uppercase;
    padding-bottom: 80px;
}

.header__text a,
.nav__button a {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    background-color: var(--button-color);
    border-radius: 6px;
    padding: 12px 24px;
}

/* ********** SECTION CATALOGUE ****************** */



/* .catalogue__cardServices {
    background: #eef;
    border-radius: 10px;

    
}

.catalogue__cardServices p {
    display: inline;
    background-color: rgba(172, 146, 166, 0.4);
    border-radius: 50%;
    text-align: center;
    padding: 30px;
} */

/* ********** SECTION TESTIMONIAL ****************** */
.testimonial img {
    width: 2.5rem;
    border-radius: 50%;
}

/* ********** SECTION SLIDER BLOG ****************** */


/************** FOOTER *************************** */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer a {
    color: var(--secondary-color);
    padding-right: 1rem;
}

.footer__contact,
.footer__copyright {
    margin: 22px 120px;

}