/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

ul {
    list-style-type: none;
}

/************ ROOT ****************** */
:root {
    --primary-color: #5B919F;
    --primary-color-10: rgba(91, 145, 159, 0.1);
    --secondary-color: #FFF;
    --button-color: #FFF689;
    --button-colorHover: #fff26a;
    --form-input: #D0DBDD;


}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/************ GLOBAL *************** */
h1,
h2,
h3,
.card-title {
    font-family: 'Hind', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 3.8rem;
}

.card-title h1 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;

}

h2,
h3 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 32px;
    margin-bottom: 64px;

}



h2 {
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

p,
a {
    font-family: 'Montserrat', sans-serif;
}

.nav-item a:hover {
    text-decoration: underline;
    color: var(--primary-color);

}

.active {
    font-weight: 600;
    color: var(--primary-color);
}


p,
ul,
li {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}

/************ Barre de navigation *************** */

nav a {
    color: var(--primary-color);
}

.nav-item a,
.nav-link.active {
    color: var(--primary-color) !important;

}

.navbar-toggler {
    color: var(--primary-color);
    border-color: var(--primary-color);
}


/************** HEADER__ACCUEIL *************************** */
.header__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-10);
    height: 420px;
}

.header__accueil {
    display: flex;
    flex-direction: column;
    background-image: url(BG_header.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 896px;
}

.header__text {
    margin-top: 4rem;
    padding-left: 3rem;
    color: var(--secondary-color);
}

.header__text h1 {
    width: 40%;
    text-transform: uppercase;
    padding-bottom: 80px;
}

.nav__button {
    width: 180px;
}

.header__accueil a,
.nav__button a,
.navbar-brand,
.submit__btn input,
.btn-primary,
.card-link {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    background-color: var(--button-color);
    border-radius: 6px;
    padding: 12px 24px;
    border: none;
    font-size: 100%;
}

.header__text a:hover,
.nav__button:hover,
.navbar-brand:hover,
.submit__btn input:hover,
.btn-primary:hover,
.card-link:hover {
    background-color: var(--button-colorHover);
    color: var(--primary-color);

}

/******************* MAIN ***************************/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ********** SECTION CATALOGUE ****************** */

.card,
.list-group-item {
    background: #eef;

}

.card {
    border: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);

}

#price {
    width: 100px;
    height: 100px;
    background-color: rgba(172, 146, 166, 0.4);
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 1rem;
}

/* ********** SECTION TESTIMONIAL ****************** */
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7.5rem;
}

.testimonial img {
    width: 2.5rem;
    border-radius: 50%;
}

.testimonial blockquote {
    background: #efefef;
    padding: 1.5rem 3.5rem;
    position: relative;
    border: none;
    border-radius: 8px;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 32px;
    margin-bottom: 1rem;
}


.testimonial blockquote:before,
.testimonial blockquote:after {
    content: "\201D";
    position: absolute;
    font-size: 80px;
    color: #757f9a;
    font-style: normal;
}

.testimonial blockquote:before {
    top: 0;
    left: 10px;
}

.testimonial blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

.testimonial p {
    margin-top: 0.5rem;
}


/* ********** SECTION SLIDER BLOG ****************** */

/************* FORMULAIRES ************************** */
main {
    display: flex;
    justify-content: center;
}

.contener {
    width: 100%;
    max-width: 1200px;
}

/* disposition du bloc user en 2 colonnes */
.userinfo {
    display: flex;
    flex-wrap: wrap;
}

.userinfo__inputbox {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

/* Uniformisation des marges en bas à 64px pour l'ensemble du formulaire */
.userinfo__inputbox input,
.gender-category,
.main-user-message input,
.useractivity,
.userfood,
.userfood option,
.usertextarea textarea,
.usersport__category,
.submit__btn {
    margin-bottom: 4rem;
}

/* Uniformisation des marges hautes à 16px pour l'ensemble du formulaire */
.userinfo__inputbox input,
.gender-category,
.main-user-message input,
.useractivity select,
.userfood select,
.usertextarea textarea,
.usersport__category,
.submit__acceptrgpd {
    margin-top: 1rem;
}

.userinfo__inputbox input {
    height: 40px;
    width: 95%;
    border-radius: 20px;
    border: none;
    background-color: var(--form-input);
}


.gender-category label,
.usersport__category label,
.useractivity select,
.userfood select,
.main-user-message input,
.userinfo__inputbox input {
    padding: 0 0.5rem;
}

.useractivity select,
.userfood select,
.main-user-message input {
    background-color: var(--form-input);
    height: 40px;
    border-radius: 20px;
    border: none;

}

.usertextarea textarea {
    background-color: var(--form-input);
    height: 80px;
    border-radius: 20px;
    border: none;
    padding: 1rem;

}

.usersport__category,
.submit,
.usertextarea textarea,
.useractivity select,
.userfood select,
.main-user-message input {
    width: 98%;
}

.gender-category label,
.gender-category input,
.usersport-category input,
.submit__acceptrgpd input,
.submit__btn,
.submit__btn input,
.footer__followme img,
footer i {
    cursor: pointer;
}

/* boite RGPD + Submit */
.submit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.submit__acceptrgpd {
    margin-bottom: 1.5rem;

}

/*************** CARD-BLOG ******************************/

.container {
    margin: 2rem 0;
}

.card {
    padding-bottom: 1rem;
}

.card-text {
    margin-bottom: 2rem;
}


/************** FOOTER *************************** */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 264px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__menu {
    display: flex;
    justify-content: center;

}

.footer__followme {
    display: flex;
}

footer i {
    padding-left: 1rem;
    font-size: 1rem;
}

footer a {
    color: var(--secondary-color);
    margin-right: 1rem;
}

@media screen and (max-width:576px) {
    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .header__accueil {
        align-items: start;
        align-content: center;
        background-image: url(BG_header_mobile.jpg);
        background-position: center;
        height: 300px;
    }

    .card-title {
        text-align: center;
    }

    .header__page p {
        text-align: center;
    }

    .header__text {
        padding-left: 1rem;

    }

    footer,
    .footer__menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__contact {
        text-align: center;
    }

    .footer__followme {
        /* justify-content: center; */
        /* justify-content: space-around; */
        /* align-content: space-around; */


    }

    footer a {
        margin-right: 0;
    }

    footer i {
        padding-left: 0;

    }

    .testimonial {
        margin: 2rem;
    }

    .testimonial blockquote {
        font-size: 1rem;
    }


}